<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记忆转换</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/change.css">
</head>
<body>
<div id="app" class="">
    <div id="topSpan" class="navbar-fixed-top" style="margin-top: 10px">
        <p class="text-center icon gb col-xs-4" v-on:click="fullScreen(4444)"><img src="img/gb.png"/></p>
        <p class="text-center icon gb col-xs-4" v-on:click="fullScreen(2222)"><img src="img/ztdx.png"/></p>
        <p class="text-center icon gb col-xs-4" onclick="night()"><img src="img/yj.png"/></p>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">记忆转换工具</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">记忆转换工具</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="night "><a href="index.html"><img src="img/zh.png"/>转换</a></li>
                    <li class="active"><a><img src="img/wdsc.png"/>我的收藏</a></li>
                    <li class="night"><a onclick="night()"><img src="img/yj.png"/>日 / 夜 </a></li>
                    <li><a href="https://zhuanlan.zhihu.com/p/25603437"><img src="img/wz.png"/>查看原文</a></li>
                    <li><a href="https://www.zhihu.com/people/zi-ding-yi-21-63/answers"><img src="img/gz.png"/>关注 / 私信我</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control search" placeholder="百度搜索">
                    </div>
                    <a class="btn btn-default" onclick="SearchBD()" role="button"><img style="width: 1em"
                                                                                       src="img/ss.png"/></a>
                </form>
            </div>
        </div>
    </nav>
    <div class="box">
        <div class="col-xs-12 textFrame" v-for="x in text">
            <div class="media-body">
                <h6 class="media-heading" v-html="x.time"></h6>
                <textarea disabled="disabled"
                        class="form-control" v-model="x.text"></textarea>
            </div>
            <div class="media-right" style="line-height: 35px;">
                <a v-on:click="del(x.num)">
                    <img src="img/delete.png"/>
                </a>
                <a v-on:click="fullScreen(x.num)">
                    <img src="img/ck.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="toast" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <img style="width: 50px;margin: 13px" src="img/ok.png"/>
        <p class="weui_toast_content"></p>
    </div>
</div>
<textarea style="display: none;margin-top: 40px" class="form-control" id="content"></textarea>
<div class="text-center" style="color:red">注：收藏文本仅对当前浏览器有效
</div>
<!--<div class="text-center" style="color:#337AB7"><a-->
        <!--onclick="location.href='https://www.zhihu.com/question/27371173/answer/152263546'">via 如何成为记忆高手？ -白诗诗的回答</a>-->
<!--</div>-->
<div class="text-center" style="color:#337AB7"><a
        onclick="location.href='https://www.zhihu.com/people/zi-ding-yi-21-63/answers'">@自定义</a></div>
<br>

<script src="js/vue.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/store.legacy.min.js"></script>
<script src="js/Change.common.controller.js"></script>
<script src="js/Change.collect.controller.js"></script>
</body>
</html>
